@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "游ゴシック体", "Yu Gothic", sans-serif;
}

a {
  text-decoration: none;
}

.inner {
  width: 1034px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section_title {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 767px) {
  .section_title {
    font-size: 38px;
  }
}

.section_title:before {
  content: "";
  background-color: #0a0a0a;
  width: 69px;
  height: 5px;
  position: absolute;
  top: 63px;
  left: 0;
}

@media (max-width: 767px) {
  .section_title:before {
    top: 53px;
  }
}

.section_title + p {
  margin-top: 35px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .section_title + p {
    font-size: 12px;
  }
}

/* ヘッダー */
.header {
  background: url("../img/main.png") center center/cover no-repeat;
  height: 100vh;
  position: relative;
}

/* ドロワーメニュー */
.drawer_menu {
  display: none;
}

@media (max-width: 767px) {
  .drawer_menu {
    display: block;
  }
}

.drawer_menu #drawer_checkbox {
  display: none;
}

.drawer_menu .drawer_icon {
  cursor: pointer;
  background: #ffffff;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.drawer_menu .drawer_icon span {
  background: #0a0a0a;
  display: block;
  width: 35px;
  height: 3px;
  z-index: 11;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.drawer_menu .drawer_icon span::before, .drawer_menu .drawer_icon span::after {
  content: "";
  background: #0a0a0a;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.drawer_menu .drawer_icon span::before {
  margin-top: -12px;
}

.drawer_menu .drawer_icon span::after {
  margin-top: 21px;
}

.drawer_menu .drawer_close {
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.drawer_menu .drawer_nav {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 304px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.drawer_menu .drawer_nav ul {
  padding: 110px 0 0 40px;
}

.drawer_menu .drawer_nav li {
  padding-bottom: 35px;
}

.drawer_menu .drawer_nav a {
  font-size: 24px;
  color: #0a0a0a;
}

#drawer_checkbox:checked ~ .drawer_icon span {
  background: rgba(10, 10, 10, 0);
}

#drawer_checkbox:checked ~ .drawer_icon span::before, #drawer_checkbox:checked ~ .drawer_icon span::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -8%;
}

#drawer_checkbox:checked ~ .drawer_icon span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#drawer_checkbox:checked ~ .drawer_icon span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#drawer_checkbox:checked ~ .drawer_nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#drawer_checkbox:checked ~ .drawer_close {
  display: block;
  opacity: 0.3;
}

/* ドロワーメニューおわり */
.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1380px;
  max-width: 100%;
  margin: 0 auto;
  padding: 36px 15px 0 15px;
}

.nav_wrapper .logo a {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.nav_wrapper .logo aside {
  margin-top: 8px;
  color: #ffffff;
  font-size: 12px;
}

@media (max-width: 767px) {
  .nav_wrapper .nav {
    display: none;
  }
}

.nav_wrapper .nav ul {
  list-style: none;
}

.nav_wrapper .nav li {
  display: inline-block;
  margin-left: 64px;
}

.nav_wrapper .nav a {
  color: #ffffff;
}

.nav_wrapper .nav a:hover {
  border-bottom: 3px solid #ffffff;
}

.header_content {
  margin-top: 257px;
}

@media (max-width: 767px) {
  .header_content {
    margin-top: 90px;
  }
}

.header_content h1 {
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 23px;
}

@media (max-width: 767px) {
  .header_content h1 {
    font-size: 40px;
  }
}

.header_content .subtitle {
  font-size: 24px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .header_content .subtitle {
    font-size: 16px;
  }
}

.arrow_bottom {
  border-bottom: solid 4px #ffffff;
  border-right: solid 4px #ffffff;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

/* Aboutセクション */
.about {
  margin-top: 146px;
}

@media (max-width: 767px) {
  .about {
    margin-top: 103px;
  }
}

.about .about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .about .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .about_container .about_card {
  width: 409px;
  border: 1px solid #707070;
  background: #f2f2f2;
  padding: 70px;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .about .about_container .about_card {
    border: none;
    background: #ffffff;
    padding: 0;
  }
}

.about .about_container .about_card .concept h3 {
  margin: 43px 0 10px;
  font-size: 24px;
}

@media (max-width: 767px) {
  .about .about_container .about_card .concept h3 {
    font-size: 20px;
  }
}

.about .about_container .about_card .concept p {
  height: 100%;
  line-height: 2;
}

@media (max-width: 767px) {
  .about .about_container .about_card .concept p {
    margin: 22px 0;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .about .about_container .about_img {
    width: 100%;
  }
}

.about .about_container .about_img img {
  max-width: 100%;
}

/* アイテムセクション */
.item {
  margin-top: 147px;
}

.item .item_card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 23px;
}

@media (max-width: 767px) {
  .item .item_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item .item_card_container .item_card {
  margin: 0 16px 30px 0;
  width: calc((100% - (16px * 2)) / 3);
}

@media (max-width: 767px) {
  .item .item_card_container .item_card {
    width: 100%;
  }
}

.item .item_card_container .item_card:nth-child(3n) {
  margin-right: 0;
}

.item .item_card_container .item_card .item_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item .item_card_container .item_card .item_img figcaption {
  margin-top: 23px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .item .item_card_container .item_card .item_img figcaption {
    margin-top: 14px;
    font-size: 12px;
  }
}

.item .item_card_container .item_card .item_body dt {
  font-size: 24px;
  margin: 34px 0 23px;
}

@media (max-width: 767px) {
  .item .item_card_container .item_card .item_body dt {
    margin: 14px 0;
  }
}

.item .item_card_container .item_card .item_body dd {
  line-height: 1.7;
}

@media (max-width: 767px) {
  .item .item_card_container .item_card .item_body dd {
    font-size: 12px;
  }
}

.item_center_txt {
  text-align: center;
}

/* Priceセクション */
.price_pc {
  margin-top: 157px;
}

@media (max-width: 767px) {
  .price_pc {
    display: none;
  }
}

.price_container {
  height: 977px;
  background: url("../img/price.png") bottom right/auto no-repeat;
  background-origin: content-box;
}

.price_box {
  width: 494px;
  max-width: 100%;
  padding: 55px 85px 67px 85px;
  border: 5px solid #a38787;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 767px) {
  .price_box {
    padding: 71px 61px;
    margin: 0 auto;
  }
}

.price_box .price_title {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
}

.price_box .price_title:before {
  content: "";
  background-color: #0a0a0a;
  width: 69px;
  height: 5px;
  position: absolute;
  top: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.price_box table {
  width: 100%;
  margin-top: 81px;
}

.price_box table th, .price_box table td {
  padding: 15px 0 15px;
  border-bottom: 1px dashed #707070;
}

.price_box table th {
  text-align: left;
}

@media (max-width: 767px) {
  .price_box table th {
    font-size: 12px;
  }
}

.price_box table td {
  text-align: right;
}

@media (max-width: 767px) {
  .price_box table td {
    font-size: 12px;
  }
}

.price_box table .last_child {
  border-bottom: none;
}

.price_sp {
  display: none;
}

@media (max-width: 767px) {
  .price_sp {
    display: block;
    background: url("../img/price.png") center center/cover no-repeat;
    padding: 49px 0;
    margin-top: 120px;
  }
}

/* Blogセクション */
.blog {
  margin-top: 148px;
  background-color: #f2f2f2;
  padding: 134px 0 136px;
}

@media (max-width: 767px) {
  .blog {
    margin-top: 140px;
    padding: 85px 0 96px;
  }
}

.blog .blog_card_container {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .blog_card_container .blog_card {
  margin: 0 16px 30px 0;
  width: calc((100% - (16px * 2)) / 3);
}

@media (max-width: 767px) {
  .blog .blog_card_container .blog_card {
    width: calc((100% - 16px) / 2);
  }
}

.blog .blog_card_container .blog_card:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .blog .blog_card_container .blog_card:nth-child(3n) {
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .blog .blog_card_container .blog_card:nth-child(2n) {
    margin-right: 0;
  }
}

.blog .blog_card_container .blog_card .blog_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .blog_card_container .blog_card .blog_img figcaption {
  margin: 30px 0 10px;
}

@media (max-width: 767px) {
  .blog .blog_card_container .blog_card .blog_img figcaption {
    font-size: 12px;
  }
}

.blog .blog_card_container .blog_card .blog_img figcaption .blog_date {
  margin-right: 16px;
  font-weight: bold;
  color: #0a0a0a;
}

.blog .blog_card_container .blog_card .blog_img figcaption .blog_category {
  color: #4d4d4d;
}

.blog .blog_card_container .blog_card p {
  color: #0a0a0a;
  font-size: 12px;
}

/* Accessセクション */
.access {
  margin-top: 150px;
}

@media (max-width: 767px) {
  .access {
    margin-top: 97px;
  }
}

.access_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 93px;
  font-style: normal;
}

@media (max-width: 767px) {
  .access_container {
    margin-top: 44px;
  }
}

.access_container .access_txt dt {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}

@media (max-width: 767px) {
  .access_container .access_txt dt {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.access_container .access_txt dd {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .access_container .access_txt dd {
    margin-bottom: 24px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .access_container iframe {
    height: 219px;
    margin-top: 106px;
  }
}

.access .access_root {
  width: 751px;
  max-width: 100%;
  margin: 152px auto 219px auto;
}

@media (max-width: 767px) {
  .access .access_root {
    margin: 40px 0;
  }
}

.access .access_root h3 {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .access .access_root h3 {
    margin-bottom: 30px;
  }
}

.access .access_root ol {
  list-style: none;
}

.access .access_root ol li {
  line-height: 1.8;
  margin: 1.5em 0 1.5em;
}

@media (max-width: 767px) {
  .access .access_root ol li {
    font-size: 12px;
  }
}

/* フッター */
.footer {
  height: 264px;
  background-color: #6f6565;
  position: relative;
}

@media (max-width: 767px) {
  .footer {
    height: 182px;
  }
}

.footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 767px) {
  .footer p {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */