@import "setting";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "游ゴシック体", "Yu Gothic", sans-serif;
}

a {
  text-decoration: none;
}

.inner {
  width: 1034px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section_title {
  position: relative;
  @include font_sw(48px, bold);
  margin: 0;
  @include sp {
    font-size: 38px;
  }

  &:before {
    content: "";
    background-color: $black;
    @include wi_hi(69px, 5px);
    @include absPosition(63px, 0);
    @include sp {
      top: 53px;
    }
  }

  + p {
    margin-top: 35px;
    font-weight: bold;
    @include sp {
      font-size: 12px;
    }
  }
}

/* ヘッダー */
.header {
  @include background("../img/main.png");
  height: 100vh;
  position: relative;
}

/* ドロワーメニュー */
.drawer_menu {
  display: none;
  @include sp {
    display: block;
  }

  #drawer_checkbox {
    display: none;
  }

  .drawer_icon {
    cursor: pointer;
    background: $white;
    @include wi_hi(80px, 80px);
    @include center_center;
    position: absolute;
    top: 0;
    right: 0;

    span {
      background: $black;
      display: block;
      @include wi_hi(35px, 3px);
      z-index: 11;
      transition: all 0.3s ease-in-out;

      &::before,
      &::after {
        content: "";
        background: $black;
        display: block;
        @include wi_hi(100%, 100%);
        transform: rotate(0);
        transition: all 0.3s ease-in-out;
      }

      &::before {
        margin-top: -12px;
      }

      &::after {
        margin-top: 21px;
      }
    }
  }

  .drawer_close {
    display: none;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    @include wi_hi(100%, 100%);
    background: $black;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  .drawer_nav {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    @include wi_hi(304px, 100%);
    background: rgba($white, 0.9);
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(100%);

    ul {
      padding: 110px 0 0 40px;
    }

    li {
      padding-bottom: 35px;
    }

    a {
      font-size: 24px;
      color: $black;
    }
  }
}

#drawer_checkbox:checked ~ .drawer_icon span {
  background: rgba($black, 0);

  &::before,
  &::after {
    content: "";
    display: block;
    @include wi_hi(100%, 100%);
    margin-top: -8%;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

#drawer_checkbox:checked ~ .drawer_nav {
  transform: translateX(0);
}

#drawer_checkbox:checked ~ .drawer_close {
  display: block;
  opacity: 0.3;
}

/* ドロワーメニューおわり */

.nav_wrapper {
  @include between_center;
  width: 1380px;
  max-width: 100%;
  margin: 0 auto;
  padding: 36px 15px 0 15px;

  .logo {
    a {
      color: $white;
      @include font_sw(20px, bold);
    }

    aside {
      margin-top: 8px;
      color: $white;
      font-size: 12px;
    }
  }

  .nav {
    @include sp {
      display: none;
    }
    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      margin-left: 64px;
    }

    a {
      color: $white;

      &:hover {
        border-bottom: 3px solid $white;
      }
    }
  }
}

.header_content {
  margin-top: 257px;
  @include sp {
    margin-top: 90px;
  }

  h1 {
    @include font_sw(64px, bold);
    color: $white;
    margin-bottom: 23px;
    @include sp {
      font-size: 40px;
    }
  }

  .subtitle {
    font-size: 24px;
    color: $white;
    @include sp {
      font-size: 16px;
    }
  }
}

.arrow_bottom {
  border-bottom: solid 4px $white;
  border-right: solid 4px $white;
  @include wi_hi(24px, 24px);
  @include absPosition(90%, 50%);
  transform: translateX(-50%) rotate(45deg);
}

/* Aboutセクション */
.about {
  margin-top: 146px;
  @include sp {
    margin-top: 103px;
  }

  .about_container {
    @include between_center;
    @include sp {
      flex-direction: column;
    }

    .about_card {
      width: 409px;
      border: 1px solid $gray;
      background: $light_gray;
      padding: 70px;
      margin-right: 15px;
      @include sp {
        border: none;
        background: $white;
        padding: 0;
      }

      .concept {
        h3 {
          margin: 43px 0 10px;
          font-size: 24px;
          @include sp {
            font-size: 20px;
          }
        }

        p {
          height: 100%;
          line-height: 2;
          @include sp {
            margin: 22px 0;
            font-size: 12px;
          }
        }
      }
    }

    .about_img {
      @include sp {
        width: 100%;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

/* アイテムセクション */
.item {
  margin-top: 147px;

  .item_card_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    @include sp {
      flex-direction: column;
    }

    .item_card {
      margin: 0 16px 30px 0;
      width: calc((100% - (16px * 2)) / 3);
      @include sp {
        width: 100%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      .item_img {
        img {
          @include img_cover;
        }

        figcaption {
          margin-top: 23px;
          font-weight: bold;
          @include sp {
            margin-top: 14px;
            font-size: 12px;
          }
        }
      }

      .item_body {
        dt {
          font-size: 24px;
          margin: 34px 0 23px;
          @include sp {
            margin: 14px 0;
          }
        }

        dd {
          line-height: 1.7;
          @include sp {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.item_center_txt {
  text-align: center;
}

/* Priceセクション */
.price_pc {
  margin-top: 157px;
  @include sp {
    display: none;
  }
}
.price_container {
  height: 977px;
  @include background("../img/price.png", bottom right, auto);
  background-origin: content-box;
}
.price_box {
  width: 494px;
  max-width: 100%;
  padding: 55px 85px 67px 85px;
  border: 5px solid $light_brown;
  text-align: center;
  background-color: rgba($white, 0.8);
  @include sp {
    padding: 71px 61px;
    margin: 0 auto;
  }

  .price_title {
    position: relative;
    @include font_sw(48px, bold);
    display: inline-block;

    &:before {
      content: "";
      background-color: $black;
      @include wi_hi(69px, 5px);
      @include absPosition(65px, 50%);
      transform: translateX(-50%);
    }
  }

  table {
    width: 100%;
    margin-top: 81px;

    %under_line {
      padding: 15px 0 15px;
      border-bottom: 1px dashed $gray;
    }

    th {
      text-align: left;
      @extend %under_line;
      @include sp {
        font-size: 12px;
      }
    }

    td {
      text-align: right;
      @extend %under_line;
      @include sp {
        font-size: 12px;
      }
    }

    .last_child {
      border-bottom: none;
    }
  }
}

.price_sp {
  display: none;
  @include sp {
    display: block;
    @include background("../img/price.png");
    padding: 49px 0;
    margin-top: 120px;
  }
}
/* Blogセクション */
.blog {
  margin-top: 148px;
  background-color: $light_gray;
  padding: 134px 0 136px;
  @include sp {
    margin-top: 140px;
    padding: 85px 0 96px;
  }

  .blog_card_container {
    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;

    .blog_card {
      margin: 0 16px 30px 0;
      width: calc((100% - (16px * 2)) / 3);
      @include sp {
        width: calc((100% - 16px) / 2);
      }

      &:nth-child(3n) {
        margin-right: 0;
        @include sp {
          margin-right: 16px;
        }
      }

      &:nth-child(2n) {
        @include sp {
          margin-right: 0;
        }
      }

      .blog_img {
        img {
          @include img_cover;
        }

        figcaption {
          margin: 30px 0 10px;
          @include sp {
            font-size: 12px;
          }

          .blog_date {
            margin-right: 16px;
            font-weight: bold;
            color: $black;
          }

          .blog_category {
            color: #4d4d4d;
          }
        }
      }
      p {
        color: $black;
        font-size: 12px;
      }
    }
  }
}

/* Accessセクション */
.access {
  margin-top: 150px;
  @include sp {
    margin-top: 97px;
  }

  &_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 93px;
    font-style: normal;
    @include sp {
      margin-top: 44px;
    }

    .access_txt {
      dt {
        @include font_sw(24px, bold);
        margin-bottom: 13px;
        @include sp {
          font-size: 18px;
          margin-bottom: 8px;
        }
      }

      dd {
        margin-bottom: 35px;
        @include sp {
          margin-bottom: 24px;
          font-size: 12px;
        }
      }
    }
    iframe {
      @include sp {
        height: 219px;
        margin-top: 106px;
      }
    }
  }

  .access_root {
    width: 751px;
    max-width: 100%;
    margin: 152px auto 219px auto;
    @include sp {
      margin: 40px 0;
    }

    h3 {
      @include font_sw(24px, bold);
      @include sp {
        margin-bottom: 30px;
      }
    }

    ol {
      list-style: none;
    }

    ol li {
      line-height: 1.8;
      margin: 1.5em 0 1.5em;
      @include sp {
        font-size: 12px;
      }
    }
  }
}

/* フッター */
.footer {
  height: 264px;
  background-color: $brown;
  position: relative;
  @include sp {
    height: 182px;
  }

  p {
    @include absPosition(50%, 50%);
    transform: translate(-50%, -50%);
    @include font_sw(80px, bold);
    color: $white;
    @include sp {
      font-size: 40px;
    }
  }
}
